# Build directories
build/
build-vs2026/
build-test/
out/
cmake-build-*/
build-macos/
dist/
Wolf-Timer.exe

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
ipch/

# Temporary folders
session-timer-win32/

# macOS
.DS_Store
